*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.loading{
    width: 90%;
    height: 25px;
    border: 2px solid black;
    margin: 20px;
    border-radius: 20px;
    background-color:gainsboro;
    position: relative;
}
.bar{ 
    height: 100%;
    background-color:rgb(121, 241, 121) ;
    border-radius: 20px;
    text-align: center;
    
    animation: loadingbar 5s ease 0.5s infinite;
}
@keyframes loadingbar{
    0%{
        width: 0%;
    }
    50%{
        width: 90%;
    }
    90%{
        width: 75%;
    }
    100%{
        width: 100%;
    }
}